<h1>Stupid coaching 801</h1>

  <blockquote>
    <p><%= @question %></p>
    <cite>You</cite>
  </blockquote>

  <blockquote class="coach">
    <p> <%= @answer %> </p>
    <cite>Your coach</cite>
  </blockquote>

<%= link_to 'Ask a new question', ask_path %>
<% #if root to: 'questions#ask', path = root_path %>
